# ===========================================
# Node.js Dependencies
# ===========================================
node_modules/
npm-debug.log*
package-lock.json

# ===========================================
# Environment Variables
# ===========================================
.env

# ===========================================
# Database
# ===========================================
/generated/prisma

# ===========================================
# macOS System Files
# ===========================================
.DS_Store
.DS_Store?

/generated/prisma
